<section id="invoice-details">
  <header id="create-invoice-header">
    <a routerLink="/dashboard/invoices-list" class="invoices-list">
      <p><</p>
      <h1 class="title">Back</h1>
    </a>
  </header>
  <div class="invoice-details-card">
    @if (invoice().invoiceNumber) {
    <div class="invoice-header">
      <h1 class="invoice-number">ID - #{{ invoice().invoiceNumber }}</h1>
      <span
        class="payment-status"
        [class]="statusClasses[invoice().paymentStatus]"
        >{{ invoice().paymentStatus }}</span
      >
    </div>

    <div class="invoice-details">
      <div class="invoice-row">
        <label class="invoice-label">Invoice Date:</label>
        <p class="invoice-value">
          {{ invoice().invoiceDate | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Client Name:</label>
        <p class="invoice-value">{{ invoice().clientName }}</p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Client Email:</label>
        <p class="invoice-value">{{ invoice().clientEmail }}</p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Due Date:</label>
        <p class="invoice-value">
          {{ invoice().dueDate | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Labor:</label>
        <p class="invoice-value">{{ invoice().labor | currency }}</p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Materials:</label>
        <p class="invoice-value">{{ invoice().materials | currency }}</p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Payment Method:</label>
        <p class="invoice-value">{{ invoice().paymentMethod }}</p>
      </div>
      <div class="invoice-row">
        <label class="invoice-label">Item Description:</label>
        <p class="invoice-value">{{ invoice().itemDescription }}</p>
      </div>
      <div class="invoice-row total">
        <label class="invoice-label">Total Costs:</label>
        <p class="invoice-value total-value">
          {{ invoice().labor + invoice().materials | currency : "USD" }}
        </p>
      </div>
    </div>
    @if(invoice().paymentStatus !== "Paid") {
    <button class="send-button">Send</button>
    } } @else {
    <app-loader />
    }
  </div>
</section>
